@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');

body {
    background: url("../img/imagen.jpg");
    background-size: cover;
}
h2{
    text-align: center;
    font-size: 50;
    color: #ffffff;
    font-family: 'Alkalami', serif;
    
}

h3{
    text-align: center;
    font-size: 200;
    color: #ffffff;
    font-family: 'Alkalami', serif;
    
}
button{
    font-family: 'Alkalami', serif;
    padding: 20px 40px;
    font-size: 22px;
    background: transparent;
    border: 3px solid rgb(2, 2, 2);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 1s;
    margin: 70px ;
}
button:hover{
    
    border: 2px solid rgb(172, 121, 27);
 border-radius: 10px ;
 background: rgb(39, 87, 3);
}
